<!doctype html>
<html>
<head>
<title>SIH</title>
</head>
<link rel="stylesheet" type="text/css" href="../css/sih1.css">
<body>
<h1 style ="color:white;font-family:impact;font-size:1000%;text-align:center;">PITCH POINT</h1>
<h2 style ="color:grey;font-family:lucida handwriting;font-size:200%;text-align:right;">the ultimate pitchdeck creator.....</h2>
<center>
<form action="overview.html" >;
<input type="submit"class ="lik"  value="OVERVIEW"id="btn"></form>
<br>
<form action="login.html" >;
        <input type="submit"class ="lik"  value="LOGIN/SIGN UP"id="btn"></form>
     </center>
</body>
</body>
</html>