<br>
<h4 style="color:bLACK ; font-family:Arial; font-weight:bold;">WEBSITE</h4><br>
<h4 style="color:blACK ; font-family:Arial;font-weight:bold;">EMAIL ID</h4><br>


</div>
<div class ="nav">
    <ul>

        <div >

    <li><a class="an" href="login.html">LOGOUT</a></li>
    </ul>
    </div>

      </div>


                  <div class="class2">
                      <p><center>

                          <br><br><br><br><br><br><br><br><br><br><br><br>
                          <center>
                          <form name="abc" action="#" >
                          <!--  <input type="submit"class ="lik"  value ="CREATE PITCHDECK "id="btn"></form>
                            <br>
                            <form action="pptdisp.html" >;
                                    <input type="submit" class ="lik"  value="VIEW PITCHDECK"id="btn"></form>-->
                                  <button formaction="tryin1.html">CREATE PITCHDECK</button>  <BR><BR>
                                    <button formaction="pptdisp.html">VIEW PITCHDECK</button>
                                 </center>
                      </center></p>
                  </div>
    </body>
</html>


