<!DOCTYPE html>
<html>
    <head></head>
        <link rel="stylesheet" type="text/css" href="../css/login.css">

<body>
    <center>
<div class ="nav">
<ul>

    <div ><li><img src="../images/logo1.png" width=250px height=50px padding=5px  top=-10% ></li>
<li><a class="an" href="signup.html">SIGN UP</a></li>
<li><a class="an" href="login.html">LOGIN</a></li>
</ul>
</div></center>


<div class="loginbox">
    <img src="../images/user.jpg" class="user">
    <h2>LOGIN HERE</h2>

<form action="/">
<font color=white>USERNAME: <input type="text" name="Username" id="Username" placeholder="Enter Username"><br>
PASSWORD: <input type="password" name="psw"id="password" placeholder="******" ><br>
<input type="submit" width="50" value="Log In"id="btn"></font>
<center><a href="#" class="anfp">Forgot password</a></center>
</form>
</div>


</body>
</html>